body{
margin: 0%;

}

.header {
    width: auto;
    height: 100px;
    background-color: black;

    display: flex;
    justify-content: flex-start;

}

.lbs-logga {
    scale: 100%;
}

.header-text {
    margin: 30px 30px;
    color: white;
    font-family:'Franklin Gothic Medium';
    text-decoration: underline black;
}

.margin-left{

margin-left: 150px;

}

.margin-left2{

margin-left: 150px;

}