body{

    margin: 0%;
    
    }
    
    .header{
    
    width: 100%;
    background-color: #161616;
    height: 13vh;
    
    display: flex;
    
    }
    
    .nav{
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        width: 50%;
        background-color: #161616;
        height: 13vh;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .nav{
        
        width: fit-content;
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        }
        
        }
    
    @media screen and (max-width: 1000px){
    
    .nav a{
    
        font-size: 12px;
        width: 30%;
    
    }
    
    }
    
    @media screen and (max-width: 660px){
    
    .nav a{
        
    width: 25%;
    font-size: 9px;
    
    }
        
    }
    
    @media screen and (max-width: 490px){
    
        .nav a{
            
        width: 25%;
        font-size: 6px;
        
        }
            
        }
    
    .nav a{
    
    font-family: "Franklin Gothic Medium";
    color: white;
    text-decoration: underline #161616;
    
    }
    
    .loggo{
    
        width: 25%;
        background-color: #161616;
        height: 13vh;
    
        display: flex;
        justify-content: center;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .loggo{
        
        width: 15%;
        
        }
        
        }
    
    .loggo a{
    
        width: 139px;
    
    }
    
    .loggo img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    height: 100%;
    
    }
    


















a{ 
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
}

.kontaktinformation{
    background-color: rgb(222, 220, 220);
    padding: 2vh 1vw; 
    margin: 10vh 1vw;
}

.flex-containter-ki{
    display: flex;
    justify-content: space-around;
}

.personalinfo{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.personal{
    display: flex;
    justify-content: space-between;
    margin: 1vh 0vh;
    padding: 2vh;
    background-color: grey;
    border-radius: 1%;
}

.pinfo{
    display: flex;
    flex-direction: column;
}

.personal p{
    background-color: rgb(234, 232, 232);
    padding: 1vh;
    border-radius: 10px;
}

.huvudkontor{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vh
}



.skol-information{
    margin: 20vh 5vw;
}

.skol-information h2{
    text-align: center;
}

.skolor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skola{    
    background-color: grey;
    padding: 1vh 1vw 3vh;
    width: 25vw;
    margin: 1vh 0.5vw;
    border-radius: 2%;
}

.skola p{
    margin: 0px;
    width: 25vw;
}


@media (max-width: 600px){

    .personalinfo{
        order: 2; 
        margin-top: 10vh;
    }

    .huvudkontor{
        order: 1;
        width: 80%;
    }

    .personalinfo{
        width: 80%;
    }

    .flex-containter-ki{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skolor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skola{
        width: 100%;
        margin: 1vh 0vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skola p{
        width: 30vw;
    }

    .skol-kontakt{
        display: flex;
        flex-direction: row;
    }

}