body{

    margin: 0%;
    
    }
    
    .header{
    
    width: 100%;
    background-color: #161616;
    height: 13vh;
    
    display: flex;
    
    }
    
    .nav{
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        width: 50%;
        background-color: #161616;
        height: 13vh;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .nav{
        
        width: fit-content;
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        }
        
        }
    
    @media screen and (max-width: 1000px){
    
    .nav a{
    
        font-size: 12px;
        width: 30%;
    
    }
    
    }
    
    @media screen and (max-width: 660px){
    
    .nav a{
        
    width: 25%;
    font-size: 9px;
    
    }
        
    }
    
    @media screen and (max-width: 490px){
    
        .nav a{
            
        width: 25%;
        font-size: 6px;
        
        }
            
        }
    
    .nav a{
    
    font-family: "Franklin Gothic Medium";
    color: white;
    text-decoration: underline #161616;
    
    }
    
    .loggo{
    
        width: 25%;
        background-color: #161616;
        height: 13vh;
    
        display: flex;
        justify-content: center;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .loggo{
        
        width: 15%;
        
        }
        
        }
    
    .loggo a{
    
        width: 139px;
    
    }
    
    .loggo img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    height: 100%;
    
    }
    




h1{
    font-family: "Franklin Gothic Medium";
}
h2{
    font-family: "Franklin Gothic Medium";
}
h3{
    font-family: "Franklin Gothic Medium";
}
p{
    font-family: "Franklin Gothic Medium";
}
b{
    font-family: "Franklin Gothic Medium";
}
sub{
    font-family: "Franklin Gothic Medium";
}



a{ 
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
}




.kontaktinformation{
    background-color: rgb(222, 220, 220);
    padding: 10vh 1vw; 
    margin: 0;
}

.flex-containter-ki{
    display: flex;
    justify-content: space-around;
}

.personalinfo{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.personal{
    display: flex;
    justify-content: space-between;
    margin: 1vh 0vh;
    padding: 2vh;
    background-color: grey;
    border-radius: 2%;
}

.pinfo{
    display: flex;
    flex-direction: column;
}

.personal p{
    background-color: rgb(234, 232, 232);
    padding: 1vh;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #323232;
    color: #323232;

}

.personal p:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 #323232;;
}

.huvudkontor{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vh; 
}

.zoom{
    overflow: hidden;
}

.zoom img{
    width: 100%;
    transition: transform .2s;
}

.zoom img:hover{
    transform: scale(170%);
}





.skol-information{
    margin: 20vh 5vw;
}

.skol-information h2{
    text-align: center;
}

.skolor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skola{    
    background-color: grey;
    padding: 2vh;
    width: 25vw;
    margin: 1vh 0.5vw;
    border-radius: 2%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

.kontakt-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skola-img{
    margin-top: 2.5vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.skola img{
    margin: 0vh 0.2vw;
    opacity: 0.6;
}
.skola img:hover {
    opacity: 1;
}
.facebook{
    margin-bottom: 0.3vh;
    width: 5vh;
    height: 5vh;
}
.insta{
    width: 6.5vh;
    height: 6.5vh;
}
.yt{
    width: 7.5vh;
    height: 8vh;
}


.skola h3{
    margin: 2vh 0vw;
}

.skola p{
    margin: 0px;
    width: 20vw;
}



@media (max-width:1150px){
    .skola{
        display: block;
        height: auto;
    }
}

@media (max-width: 600px){

    .personalinfo{
        order: 2; 
        margin-top: 10vh;
    }

    .huvudkontor{
        order: 1;
        width: 80%;
    }

    .personalinfo{
        width: 80%;
    }

    .flex-containter-ki{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skolor{
        flex-direction: column;
    }

    .skola{
        width: 100%;
        margin: 0;
        margin-bottom: 3vh;
        padding: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .kontakt-container p{
        width: 50vw;
    }

    .skola-img{
        justify-content: space-evenly;
    }
    .skola img{
        margin: 0vh 1.3vw;
    }
    
}