body{

    margin: 0%;
    
    }
    
    .header{
    
    width: 100%;
    background-color: #161616;
    height: 13vh;
    
    display: flex;
    
    }
    
    .nav{
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        width: 50%;
        background-color: #161616;
        height: 13vh;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .nav{
        
        width: fit-content;
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        }
        
        }
    
    @media screen and (max-width: 1000px){
    
    .nav a{
    
        font-size: 12px;
        width: 30%;
    
    }
    
    }
    
    @media screen and (max-width: 660px){
    
    .nav a{
        
    width: 25%;
    font-size: 9px;
    
    }
        
    }
    
    @media screen and (max-width: 490px){
    
        .nav a{
            
        width: 25%;
        font-size: 6px;
        
        }
            
        }
    
    .nav a{
    
    font-family: "Franklin Gothic Medium";
    color: white;
    text-decoration: underline #161616;
    
    }
    
    .loggo{
    
        width: 25%;
        background-color: #161616;
        height: 13vh;
    
        display: flex;
        justify-content: center;
    
    }
    
    @media screen and (max-width: 1000px){
    
        .loggo{
        
        width: 15%;
        
        }
        
        }
    
    .loggo a{
    
        width: 139px;
    
    }
    
    .loggo img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 100%;
    height: 100%;
    
    }

h1{
    font-family: "Franklin Gothic Medium";
}
h3{
    font-family: "Franklin Gothic Medium";
}
p{
    font-family: "Franklin Gothic Medium";
}


.flex-container-introduktion{
    display: flex;
    justify-content: center;
}

.introduktion{
    display: flex;
    margin-top: 5vh;
    width: 80%;
    height: 80vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.introduktion-text{
    font-size: x-large;
    text-align: center;
    z-index: 1; 
    position: absolute;
    margin: 3vh 3vw;
}

.introduktion img{
    object-fit: cover;
    border-radius: 2%;
    opacity: 0.1;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.mål{
    margin: 15vh 10vw;
    font-size: large;
}




.awards{
    background-color: rgb(197, 197, 197);
    padding: 5vh 15vh 10vh 15vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
}

.awards-flex{
    display: flex;
    justify-content: space-between;
}

.aw{
    background-color: rgb(220, 219, 219);
    border-radius: 2%;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1vw;
    transition: transform .2s;
}

.aw img{
    margin-top: 4vh;
    height: 30vw;
    width: 80%;
    object-fit: cover;
}

.awards-bes{
    width: 80%;
}

.aw:hover{
    transform: scale(95%);
}


.arbetsgång{
    margin: 15vh 10vw;
    font-size: large;
}


@media(max-width: 1100px){
    .aw{
        padding: 0;
    }
}
@media(max-width: 850px){
    .awards{
        padding: 1vh 7vh 3vh 7vh;
    }
}
@media(max-width: 550px){

    .introduktion-text{
        font-size: medium;
    }
    .awards-flex{
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    .aw{
        width: 90%;
    }
}