body{

    margin: 0%;

}

.title{

    font-family: "Franklin Gothic Medium";
    padding: 1%;

}

.box-background{

    background-color: hotpink;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;

}

.boxes{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 10%;

    height: 410vh;

}

.box{

    margin: 1.5%;
    margin-top: 2%;
    width: 40%;
    height: 30vh;
    background-color: black;
    border-radius: 10px;

    color: white;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    padding: 1%;

}