body{

    margin: 0%;
    background-color: #fffcf2;

}

.title{

    font-family: "Franklin Gothic Medium";
    text-align: center;
    padding: 1%;
    margin-bottom: 0%;
    color: #161616;

}

.title h1{

    margin: 0%;
    color: #161616;
    font-size: 3.5vw;

}

.box-background{

    background-color: #ea3788;
    border-radius: 10px;
    margin: 1%;
    margin-top: 0%;
    padding: 2%;

}

.boxes{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 10%;

    height: 485vh;

}

.box{

    margin: 1.5%;
    margin-bottom: 4%;
    margin-top: 2%;
    width: 40%;
    height: 33vh;
    background-color: #161616;
    border-radius: 10px;

    color: #fffcf2;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    padding: 1%;

}

.bottom-box{

    margin: 1.5%;
    margin-top: 2%;
    width: 40%;
    height: 33vh;
    background-color: #161616;
    border-radius: 10px;

    color: #fffcf2;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    padding: 1%;

}